<!DOCTYPE html>
<html>
<head>
    <title>Corporate Asset Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="container">
    <nav>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'asset-list' %}">Asset List</a>
        <a href="{% url 'asset-create' %}">Create</a>

        <div style="float:right">
            {% if user.is_authenticated %}
                <span>Hello, {{ user.username }}</span>
                <form action="{% url "logout" %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>

    
    
    {% block content %}{% endblock %}
</body>
</html>